name: Android Build

on:
  push:
    branches: [ master ]

jobs:

  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Run Tests Build
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --no-daemon

      # Create APK Debug
      - name: Build apk debug project (APK) - ${{ env.main_project_module }} module
        run: ./gradlew assembleDebug

      # Create APK Release
      - name: Build apk release project (APK) - ${{ env.main_project_module }} module
        run: ./gradlew assemble


      # Create Bundle AAB Release
      - name: Decode keystore
        run: echo ${{ secrets.KEYSTORE_BASE64 }} | base64 --decode > keystore.jks

      - name: Build and Sign AAB
        run: |
          ./gradlew bundleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          JAVA_OPTS: -Dorg.gradle.jvmargs=-Xmx2048m -Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=false -Dkotlin.incremental=false



      # Upload AAB Release
      - name: Upload APK Debug
        uses: actions/upload-artifact@v2
        with:
          name: app-debug
          path: app/build/outputs/bundle/release/app-debug.apk

      # Upload APK Release
      - name: Upload APK Release
        uses: actions/upload-artifact@v2
        with:
          name: app-apk
          path: app/build/outputs/bundle/release/app-release.apk


      # Upload AAB Release
      - name: Upload AAB
        uses: actions/upload-artifact@v2
        with:
          name: app-aab
          path: app/build/outputs/bundle/release/app-release.aab
